body{
    font-family: monospace;
}

form{
    width: 100%;
}

.flex{
    width: 100%;
    justify-content: space-around;
    display: flex;
}

.dark fieldset{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 80px;
    border: #fff 3px solid;
}

input{
    margin: 10px 0px;
}

button{
    width: 40%;
    margin: 20px 28%;
    padding: 20px;
    background: rgb(0, 11, 48);
    border: #fff 3px solid;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
}

.dark{
    background-color: rgb(0, 11, 48);
    color: #fff;
}

.light{
    background-color: #fff;
    color: rgb(0, 11, 48);
}

.cv{
    display: flex;
    justify-content: space-around;
}

.cv-infos, .cv-competences{
    padding: 30px 80px;
    width: 25%;
}

.dark .cv-infos, .dark .cv-competences{
    border: #fff 3px solid;
}

.light .cv-infos, .light .cv-competences{
    border: rgb(0, 11, 48) 3px solid;
}

header{
    text-align: center;
    margin-bottom: 30px;
}

.bold{
    font-weight: bold;
}

.dark a{
    color: #fff;
}

.light a{
    color:rgb(0, 11, 48);
}